<!-- 
	By - Aditya Jain 
	Roll No - 402059 
-->
<html lang="en">
	<head>
		<title>Binary Search Demo</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	</head>
	<body>
		 <div class="col-md-8">
		 	<h1>Binary Search</h1>
		 	{% if not data.inp %}
				 <form action="/input" method="POST">
					  <div class="form-group">
						    <label for="array">Array integers seperated by (,) :</label>
						    <input type="text" name="array" class="form-control" id="array" placeholder="Integers seperated by commas">
					  </div>
					  <button type="submit" class="btn btn-default">Submit Array</button>
				</form>
			{% else %}
				<form action="/search" method="POST">
					  <div class="form-group">
					  		<label for="array">Sorted Array :</label>
						    <input type="text" name="array" class="form-control" id="array" value="{{data.seq}}" readonly>
						    <label for="no">Input integer to be Seached :</label>
						    <input type="text" name="no" class="form-control" id="no" placeholder="Integer to be Searched">
					  </div>
					  <button type="submit" class="btn btn-default">Search</button>
				</form>
			{% endif %}

			{% if data.status %}
				<div class="alert alert-success" style="font-size: 150%">
				  	<h3><strong>{{data.ans}}</strong></h3>
				</div>
			{% endif %}
		</div> 
	</body>
</html>